@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e9d0e9;
}

.home_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_container>* {
  margin-bottom: 10px;
}

.home_header {
  margin-bottom: 30px;
}

.username_input {
  padding: 5px;
  width: 30%;
  border: double;
}

.home_cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #662666;
  color: #ffffff;
  outline: none;
  border: outset, black;
  border-radius: 5px;
}

.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.chat_sidebar {
  height: 100%;
  background-color: #e9d0e9;
  flex: 0.2;
  padding: 15px;
  border-right: 1px solid #fdfdfd;
}

.chat_main {
  height: 100%;
  flex: 0.8;
}

.chat_header {
  margin: 20px 0 15px 0;
}

.chat_users>* {
  margin-bottom: 5px;
  color: #54169b;
  font-size: 14px;
  font-weight: bold;
}

.online_users>* {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}

.chat_mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #e9d0e9;
}

.leaveChat_btn {
  padding: 10px;
  width: 120px;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  outline: none;
  background-color: #ca4848;
  cursor: pointer;
  color: black;
}

.leaveChat_btn:hover {
  background-color: #e49797;
}

.message_container {
  width: 100%;
  height: 80vh;
  background-color: #f5e8f5;
  padding: 20px;
  overflow-y: scroll;
}

.message_container>* {
  margin-bottom: 10px;
  background-color: #f5e8f5;
}

.chat_footer {
  padding: 10px;
  background-color: #e9d0e9;
  height: 10vh;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9d0e9;
}

.message {
  width: 91%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #000000;
  outline: none;
  padding: 15px;
}

.sendBtn {
  width: 90px;
  background-color: rgb(72, 202, 72);
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: black;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}

.message_recipient {
  background-color: #f1b6b6;
  max-width: 350px;
  padding: 8px;
  border-radius: 15px;
  font-size: 15px;
}

.message_recipient>p {
  color-scheme: #f1b6b6;
  background-color: #f1b6b6;
}

.message_sender {
  background-color: rgb(156, 243, 156);
  max-width: 350px;
  padding: 8px;
  border-radius: 15px;
  margin-left: auto;
  font-size: 15px;
}

.message_sender>p {
  color-scheme: rgb(156, 243, 156);
  background-color: rgb(156, 243, 156);
}

.message_chats>p {
  font-size: 10px;
  color-scheme: #f5e8f5;
  background-color: #f5e8f5;
}

.sender_name {
  text-align: right;
  color-scheme: #f5e8f5;
  background-color: #f5e8f5;
}

.message_status {
  position: fixed;
  bottom: 60px;
  font-size: 13px;
  font-style: italic;
}

.message_status>p {
  background-color: #f5e8f5;
}